# Compiled python files
*.pyc

# Image files
*.jpg
*.jpeg
*.png

# HTML files
*.htm
*.html

# netCDF files
*.nc

# Data files
*.csv
*.txt
*.nam

# Specific files or folders
Thumbs.db
.idea